$black: #000;
$red: #ff0000;
$light-red: #f13b3b;
$green: #0c9200;
$light-green: #4bb941;
$blue: #0052aa;
$border: rgb(90, 75, 75);
$subject-button: #a4ccdf;
$subject-button-hover: #bfebff;

button {
  &.subject-button {
    width: 150px;
    padding: 0 0 3px;
    margin: 0 0 5px;
    font-size: 14px;
    color: $black;
    background-color: $subject-button;
    border-color: $subject-button;

    &:hover,
    &:focus {
      color: $black;
      background-color: $subject-button-hover;
      border-color: $subject-button-hover;
    }
  }

  &.add-subject {
    width: 150px;
    padding: 2px 0 5px;
    margin: 0;
    font-size: 14px;

    &:hover,
    &:focus {
      background-color: $blue;
      border-color: $blue;
    }
  }

  &.save-button {
    background-color: $green;
    border-color: $green;

    &:focus {
      background-color: $green;
      border-color: $green;
    }

    &:hover {
      background-color: $light-green;
      border-color: $light-green;
    }

    &:not(:disabled) {
      &:not(.disabled) {
        &:active {
          background-color: $green;
          border-color: $green;
        }
      }
    }
  }

  &.delete-button {
    background-color: $red;
    border-color: $red;

    &:focus {
      background-color: $red;
      border-color: $red;
    }

    &:hover {
      background-color: $light-red;
      border-color: $light-red;
    }

    &:not(:disabled) {
      &:not(.disabled) {
        &:active {
          background-color: $red;
          border-color: $red;
        }
      }
    }
  }

  &.popup-button {
    width: 70%;
    margin: 5px 15%;

    &.save-button {
      width: 60%;
      margin: 5px 20%;
    }
  }
}

.main-table2 {
  button {
    &.subject-button {
      width: 150px;
    }

    &.add-subject {
      width: 150px;
    }
  }
}

.main-table {
  button {
    &.subject-button {
      width: 250px;
    }

    &.add-subject {
      width: 250px;
    }
  }
}

.subjects-type {
  padding: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.teachers-list {
  position: relative;

  input {
    position: absolute;
    margin: 5px 0 0 -105px;
  }

  label {
    margin-left: 25px;
  }
}
