@import '../../styles/variables';

.private-layout {
  .header {
    position: fixed;
    z-index: 2;
    padding: 0;
  }

  .main {
    padding-top: 60px;
  }

  .navbar {
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    background: $lavender;

    .navigation {
      align-items: center;
      margin: 0 auto;

      a {
        display: block;
        margin-right: 15px;

        &:hover {
          font-weight: bold;
          text-decoration: none;
        }
      }

      .is-active {
        font-weight: bold;
      }
    }
  }

  .search-form {
    flex-wrap: nowrap;
    width: 60%;

    .search {
      width: 100%;
      max-width: 500px;
      margin-right: 10px;
    }
  }
}
