$blue: #007bff;
$white: #fff;
$light-grey: #ced4da;
$light-blue: #7da5b8;
$columns-header: #a4ccdf;
$first-area: rgb(122, 176, 212);
$second-area: rgb(89, 188, 241);
$third-area: rgb(159, 167, 172);


.headings {
  text-align: center;
}

.main-heading {
  font-size: 50px;
  color: $blue;
}

.subheadings {
  font-size: 22px;
}

.border {
  border: 1px solid $light-grey;
}

.first-area,
.second-area,
.third-area {
  margin: 40px 0;
}

.main-table2 {
  margin: 50px auto;

  tbody {
    td {
      padding: 30px 18px;
    }

    .fourth-area {
      td {
        padding: 0;
        font-size: 17px;
        font-weight: 700;
        color: $blue;
        border: 0;
      }
    }
  }

  .title {
    td {
      font-weight: 700;
      background-color: $columns-header;
    }
  }
}

.main-table {
  margin: 50px auto;

  tbody {
    td {
      padding: 30px 60px;
      font-size: 20px;
    }

    .fourth-area {
      td {
        padding: 0;
        font-weight: 700;
        color: $blue;
        border: 0;
      }
    }
  }

  .title {
    td {
      font-weight: 700;
      background-color: $columns-header;
    }
  }
}

.first-area {
  td {
    &:hover {
      background-color: $first-area;
    }
  }
}

.second-area {
  td {
    &:hover {
      background-color: $second-area;
    }
  }
}

.third-area {
  td {
    &:hover {
      background-color: $third-area;
    }
  }
}

tbody,
thead {
  td {
    border: 1px solid $light-grey;
  }
}

td {
  font-size: 18px;
  font-weight: 500;
}

.center {
  width: 50%;
  margin: 0 25%;
  box-sizing: border-box;
}

button {
  &.save-btn {
    width: 150px;
    height: 50px;
    margin: 30px auto;
    font-weight: 800;
    background-color: $light-blue;
    border-color: $light-blue;

    :hover {
      background-color: $blue;
      border-color: $blue;
    }
  }
}

.table-container {
  max-width: auto;
  margin: 0 10px;
}

.modal-header {
  &.form-modal-header {
    border-bottom: 0;
  }
}
