.headings{
    text-align: center;
}

.main-heading{
    color: #007bff;
    font-size: 50px;
}

.subheadings{
    font-size: 22px;
}

.border{
    border: 1px solid #ced4da;
}

.first-area, .second-area, .third-area{
    margin: 40px 0;
}

.main-table2{
    box-sizing: border-box;
}

.main-table2 tbody {
    td {
    padding: 30px 18px;
    }
    .fourth-area td {
        background: #fff;
        border: none;
        padding: 0;
        color: #007bff;
        font-weight: 700;
    }
}

.main-table tbody {
    td {
    padding: 30px 60px;
    font-size: 20px;
    }
    .fourth-area td{
        background: #fff;
        border: none;
        padding: 0;
        color: #007bff;
        font-weight: 700;
    }
}


.main-table2 .fourth-area td{
    font-size: 17px;
}


tbody {
    .first-area td:hover {
        background-color:rgb(122, 176, 212);
    }
    .second-area td:hover {
        background-color:rgb(89, 188, 241);
    }
    .third-area td:hover {
        background-color:rgb(159, 167, 172);
    }
}

tbody, thead {
    td{
        border: 1px solid #ced4da;
    }
}

.main-table, .main-table2{
    margin: 50px auto;
}

.main-table .title td, .main-table2 .title td {
    font-weight: 700;
    background-color: #a4ccdf;
}

td {
    font-weight: 500;
    font-size: 18px;
}

.center{
    width: 50%;
    margin: 0 25%;
    box-sizing: border-box;
}

button.save-btn{
    margin: 30px auto;
    width: 150px;
    height: 50px;
    font-weight: 800;
    background-color: #7da5b8;
    border-color: #7da5b8;
}

button.save-btn:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.table-container {
    max-width: auto;
    margin: 0 10px;
}

