@import '../../styles/variables';

.public-layout {
  width: 100%;
  height: 100%;

  &.container {
    max-width: none;
  }

  .left {
    height: 100vh;
    background: $white;
  }

  .right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    img {
      height: auto;
    }
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $black-russ 0%, $arapawa 21%, $aqua 76%);
    opacity: .5;
  }
}
