@import 'variables';

body {
  color: $mine-shaft;
  background: $white;

  &.profile {
    background: $lavender;

    .private-layout {
      .navbar {
        background: $white;
      }
    }
  }

  * {
    &:focus {
      outline: none;
    }
  }

  .btn-primary,
  .dropdown-toggle {
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus {
      background-color: $primary-hover;
      border-color: $primary-hover;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:not(:disabled) {
      &:not(.disabled) {
        &:active {
          background-color: $primary-hover;
          border-color: $primary-hover;
        }
      }
    }
  }

  .btn-outline-primary {
    color: $primary;
    border-color: $primary;

    &:hover,
    &:disabled,
    &:active,
    &:focus {
      color: $white;
      background-color: $primary-hover;
      border-color: $primary-hover;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }



  a {
    color: $primary;

    &:hover {
      color: $primary-hover;
      text-decoration: none;
    }
  }

  // sass-lint:disable no-ids
  #popover-email,
  #popover-phone {
    &.bs-popover-bottom {
      border: 0;
      border-radius: 0;

      h3 {
        padding-bottom: 0;
        font-size: 12px;
        color: $mine-shaft;
        background: none;
        border: 0;
      }

      div {
        font-size: 12px;
        color: $mine-shaft;
      }
    }
  }

  // sass-lint:disable no-important
  .spinner-border {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 50px;
    height: 50px;
    color: $primary !important;
  }
}
