
$blue: #007bff;
$white: #ffffff;
$red: #ff0000;

$mobile: 767px;
$tablet-max: 992px;
$tablet-min: $mobile + 1;

$black-russ: rgba(2, 0, 36, 1);
$arapawa: rgba(9, 9, 121, 1);
$aqua: rgba(0, 212, 255, 1);
